<section class="bg-color-dark">
  <div class="container py-4">
    <div class="row text-white">
      <div class="col-md-4 text-center py-4">
        <div>
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4 text-center py-4">
        <div>
          <h3>AROUND THE WEB</h3>
          <div>
            <ul class="social list-unstyled d-flex justify-content-center mt-3">
              <li class="me-2"><i class="fa-brands fa-facebook-f"></i></li>
              <li class="me-2"><i class="fa-brands fa-twitter"></i></li>
              <li class="me-2"><i class="fa-brands fa-linkedin"></i></li>
              <li class="me-2"><i class="fa-solid fa-globe"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center py-4">
        <div>
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap<br />
            theme created by Route
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="text-center text-white py-3 copyright d-flex align-items-center justify-content-center"
>
  <p class="m-0 py-1">Copyright © Your Website 2021</p>
</section>
