<section class="py-5 text-center text-light">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-10 mx-auto">
        <div class="row py-4">
          <div class="col-md-6">
            <div class="text-center">
              <img
                class="w-75"
                src="./assets/images/angular-404.svg"
                alt="not found"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="text-center text-dark-app d-flex justify-content-center align-items-center h-100"
            >
              <div>
                <h2 class="display-4 fw-bolder">PAGE NOT FOUND</h2>
                <p>
                  We're sorry. The page you are looking for cannot be found.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
