<section class="py-5 bg-color">
  <div class="container py-5 my-3">
    <div class="row py-5 text-white">
      <div class="mt-5 pt-4">
        <h2 class="text-center my-3 fw-bolder fs-1">ABOUT COMPONENT</h2>
        <div class="d-flex justify-content-center align-items-center my-3">
          <div class="line me-3"></div>
          <span><i class="fa-solid fa-star fa-1x text-light"></i></span>
          <div class="line ms-3"></div>
        </div>
      </div>
      <div class="col-lg-6 mb-lg-4">
        <div class="text-center text-white mb-lg-3 px-3">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-lg-6 mb-lg-4">
        <div class="text-center text-white mb-lg-3 px-3">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
