<nav class="navbar navbar-expand-sm navbar-light fixed-top py-4">
  <div class="container">
    <a class="navbar-brand fw-bolder fs-2" href="#">START FRAMEWORK</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link px-2" routerLink="home" routerLinkActive="bg-color"
            >Home</a
          >
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="about" routerLinkActive="bg-color"
            >About</a
          >
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="galary" routerLinkActive="bg-color"
            >Portfolio</a
          >
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="contact" routerLinkActive="bg-color"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
