<section class="py-4 bg-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto py-5">
        <div class="text-center text-white my-5">
          <img
            class="w-50 mb-3"
            src="assets/images/avataaars.svg"
            alt="avataaars"
          />
          <div>
            <h2 class="text-center my-3 fw-bolder fs-1">START FRAMEWORK</h2>
            <div class="d-flex justify-content-center align-items-center my-3">
              <div class="line me-3"></div>
              <span><i class="fa-solid fa-star fa-1x text-light"></i></span>
              <div class="line ms-3"></div>
            </div>
            <p class="py-lg-1">Graphic Artist - Web Designer - Illustrator</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
